$alabaster: rgba(248,248,248,255);
$White: rgba(255,255,255,255);
$cello: rgba(29,53,87,255);
$goldenTainoi: rgba(255,201,87,255);
$wedgewood: rgba(81,132,163,255);
$aquaIsland: rgba(168,218,220,255);
$amaranth: rgba(233,86,97,255);
$elm: rgba(23,126,137,255);
$catskillWhite: rgba(236,245,245,255);
$silverChalice: rgba(173,173,173,255);

